.dcl.user-menu {
  display: flex;
  position: relative;
  text-align: left;
  outline: none;
}

.dcl.user-menu .toggle,
.dcl.user-menu .toggle .avatar-face {
  width: 42px;
  height: 42px;
}

.dcl.user-menu .menu .avatar-face {
  background: rgba(var(--dark-raw), 0.3);
}

.dcl.user-menu .toggle {
  cursor: pointer;
}

.dcl.user-menu .ui.button {
  font-size: 12px;
  line-height: 18px;
  padding: 9px 14px;
  min-width: 0;
}

.dcl.user-menu .menu {
  position: absolute;
  top: 56px;
  right: 0;
  z-index: 1;
  background: var(--dropdown);
  box-shadow: var(--shadow-2);
  border-radius: 6px;
  display: inline-block;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: translate(0, -4px);
  min-width: 215px;
  overflow: hidden;
}

.dcl.user-menu .menu.clickable {
  pointer-events: auto;
}

.dcl.user-menu .menu.open {
  opacity: 1;
  transform: translate(0, 0);
  display: flex;
  flex-direction: column;
}

.dcl.user-menu .info {
  color: var(--text);
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid var(--clear-divider);
  padding: 12px 16px;
  justify-content: center;
}

.dcl.user-menu .info.clickable {
  cursor: pointer;
}

.dcl.user-menu .info.clickable:hover {
  background-color: var(--dropdown-hover);
}

.dcl.user-menu .image {
  margin-right: 10px;
}

.dcl.user-menu .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.19px;
}

.dcl.user-menu .email {
  font-size: 14px;
  line-height: 18px;
}

.dcl.user-menu .actions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.dcl.user-menu .actions li,
.dcl.user-menu .actions .item {
  cursor: pointer;
  padding: 12px 16px;
  display: flex;
  align-items: center;
}

.dcl.user-menu .actions li:hover,
.dcl.user-menu .actions .item:hover {
  background-color: var(--dropdown-hover);
}

.dcl.user-menu .actions li img {
  margin-right: 12px;
  display: block;
  filter: var(--brightness);
}

.dcl.user-menu .actions .sign-out-icon {
  width: 12px;
  height: 12px;
  filter: var(--brightness);
  background: url(../../assets/signout.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.dcl.user-menu .toggle {
  width: 46px;
  height: 46px;
}

.dcl.user-menu .menu .item,
.dcl.user-menu .menu a {
  color: var(--text);
  font-weight: normal;
}


.dcl.user-menu .dcl.mana .symbol {
  font-weight: bold;
  color: var(--primary);
}

.dcl.user-menu-wrapper .dcl.mana {
  cursor: pointer;
}

@media (max-width: 768px) {
  .dcl.user-menu {
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 15px;
  }

  .dcl.navbar .dcl.account-wrapper {
    flex-direction: row;
    justify-content: end;
    order: 1;
    width: 100%;
  }

  .dcl.navbar .dcl.account-wrapper .dcl.mana+.dcl.mana {
    padding: 0;
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper) {
    height: calc(var(--navbar-height) + 16px);
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper)>.ui.container {
    align-items: flex-start;
    padding-top: 8px;
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper) .dcl.account-wrapper {
    flex-direction: row;
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper) .dcl.account-wrapper .dcl.mana {
    margin-right: 8px;
    padding: 0;
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper) .dcl.user-menu .dcl.account-wrapper {
    display: none;
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper) .dcl.account-wrapper .dcl.mana:last-of-type {
    margin-right: 0;
  }

  .dcl.navbar .dcl.mobile-user-balances-wrapper {
    position: absolute;
    top: 38px;
    width: 240px;
  }

  .dcl.user-menu .toggle {
    width: 36px;
    height: 36px;
  }

  .dcl.user-menu .toggle .avatar-face {
    width: 36px;
    height: 36px;
  }
}

/*********/

.navbar-sign-in.ui.button {
  min-width: unset;
  max-width: 121px;
  height: 34px;
  display: flex;
  align-items: center;
}

.dcl.user-menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.dcl.user-menu .activity-icon {
  padding: 0px !important;
  margin: 4px 0px 0px 0px;
}

.dcl.account-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.dcl.user-menu .view-profile {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.dcl.user-menu .menu-option {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 35px;
}