.dcl.language-dropdown.ui.dropdown {
  transform: translateY(-4px);
}

.dcl.language-dropdown.ui.dropdown > .text {
  transform: translateY(4px);
  text-transform: none;
}

.dcl.language-dropdown.ui.dropdown > .dropdown.icon {
  color: var(--text);
}
