.Parallax-story .square {
  background-color: var(--background);
  border: 1px solid var(--text);
  opacity: 0.5;
}

.Parallax-story .square.small {
  width: 50px;
  height: 50px;
  transform: translate(-25px, -25px);
}

.Parallax-story .square.medium {
  width: 100px;
  height: 100px;
  transform: translate(-50px, -50px);
}

.Parallax-story .square.large {
  width: 150px;
  height: 150px;
  transform: translate(-75px, -75px);
}
