.dcl.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1 0 auto;
}

.dcl.row.left {
  justify-content: flex-start;
}

.dcl.row.right {
  justify-content: flex-end;
}

.dcl.row.center {
  justify-content: center;
}
