.dui-smart-wearable-filter {
  min-width: 320px;
  padding: 21px 24px;
  background: #242129;
  border: none;
}

.dui-smart-wearable-filter__content {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.dui-smart-wearable-filter .box-children {
  display: flex;
  justify-content: space-between;
}

.dui-smart-wearable-filter .SmartBadge:not(.clickable) {
  cursor: initial;
}

@media only screen and (max-width: 991px) {
  .dui-smart-wearable-filter__header {
    display: flex;
    justify-content: space-between;
    text-transform: none;
    font-size: 17px;
  }

  .dui-smart-wearable-filter__name {
    color: #fff;
  }
}
