:root {
  /* colors */
  --primary: #ff0044;
  --primary-light: #ff9a74;
  --primary-dark: #d10038;
  --secondary: #181f33;
  --accent: #00d9ff;
  --background: #0a0f1f;
  --danger: #ffa900;

  /* text */
  --text: #ffffff;
  --secondary-text: #7d8499;
  --text-on-primary: #ffffff;
  --text-on-secondary: #ffffff;

  /* borders */
  --radius: 8px;
  --outline: #181f33;
}
