:root {
  /* colors */
  --primary: #ff0044;
  --primary-light: #ff9a74;
  --primary-dark: #d10038;
  --secondary: #181f33;
  --accent: #00d9ff;
  --background: #0a0f1f;
  --danger: #ffa900;

  /* text */
  --text: #ffffff;
  --secondary-text: #7d8499;
  --disabled-text: #7d8499;
  --text-on-primary: #ffffff;
  --text-on-secondary: #ffffff;

  /* borders */
  --radius: 6px;
  --outline: #181f33;
  --border: #00000005;

  /* cards */
  --card-background: #181f33;

  /* hover */
  --hover: #2a3246;

  /* shadows */
  --shadow: #0000001f;

  /* svgs */
  --brightness: brightness(100); /* white svgs */
}
