:root {
  /* colors */
  --primary: #ff0044;
  --primary-light: #ff9a74;
  --primary-dark: #d10038;
  --secondary: #f2f2f5;
  --accent: #00d9ff;
  --background: #ffffff;
  --danger: #ffa900;

  /* text */
  --text: #0d0d17;
  --secondary-text: #5c5c6e;
  --disabled-text: #a2a2a6;
  --text-on-primary: #ffffff;
  --text-on-secondary: #0a0f1f;

  /* borders */
  --radius: 8px;
  --outline: #e2e2e6;

  /* shadows */
  --shadow: #f2f2f5;

  /* cards */
  --card-background: #ffffff;

  /* hover */
  --hover: #f2f2f5;
}
