.dcl.avatar-face {
  border-radius: 100%;
  background-color: rgba(var(--bluish-steel-raw), 0.4);
  width: 42px;
  height: 42px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.dcl.avatar-face.avatar-color-0,
.dcl.avatar-face.avatar-color-1 {
  background-color: var(--tableau--01);
}

.dcl.avatar-face.avatar-color-2,
.dcl.avatar-face.avatar-color-3 {
  background-color: var(--tableau--02);
}

.dcl.avatar-face.avatar-color-4,
.dcl.avatar-face.avatar-color-5 {
  background-color: var(--tableau--03);
}

.dcl.avatar-face.avatar-color-6,
.dcl.avatar-face.avatar-color-7 {
  background-color: var(--tableau--04);
}

.dcl.avatar-face.avatar-color-8,
.dcl.avatar-face.avatar-color-9 {
  background-color: var(--tableau--05);
}

.dcl.avatar-face.avatar-color-a,
.dcl.avatar-face.avatar-color-A,
.dcl.avatar-face.avatar-color-b,
.dcl.avatar-face.avatar-color-B {
  background-color: var(--tableau--06);
}

.dcl.avatar-face.avatar-color-c,
.dcl.avatar-face.avatar-color-C,
.dcl.avatar-face.avatar-color-d,
.dcl.avatar-face.avatar-color-D {
  background-color: var(--tableau--07);
}

.dcl.avatar-face.avatar-color-e,
.dcl.avatar-face.avatar-color-E,
.dcl.avatar-face.avatar-color-f,
.dcl.avatar-face.avatar-color-F {
  background-color: var(--tableau--08);
}

.dcl.avatar-face.responsive {
  width: 93px;
  height: 93px;
}

@media (min-width: 1200px) {
  .dcl.avatar-face.responsive {
    width: 170px;
    height: 170px;
  }
}

.dcl.avatar-face.large {
  width: 108px;
  height: 108px;
}

.dcl.avatar-face.medium {
  width: 48px;
  height: 48px;
}

.dcl.avatar-face.small {
  width: 32px;
  height: 32px;
}

.dcl.avatar-face.tiny {
  width: 20px;
  height: 20px;
}

.dcl.avatar-face.inline {
  vertical-align: -25%;
}

.dcl.avatar-face img {
  width: 100%;
}

.dcl.avatar-face .guest-face {
  width: 100%;
  height: 100%;
  background: url(../../assets/guest.svg);
  background-position: center;
  background-size: contain;
}
