.dcl.mana {
  display: inline;
  text-overflow: ellipsis;
  overflow: hidden;
  color: inherit;
}
.dcl.mana .symbol {
  font-style: normal;
  padding-right: 0.4em;
  transform: translateY(0em);
  display: inline-block;
  color: var(--primary);
}

.dcl.mana + .dcl.mana {
  padding-left: 0.3em;
}

.dcl.mana.inline {
  font-size: 1em;
}

.dcl.mana .matic {
  width: 1em;
  height: 1em;
  background-image: url(../../assets/mana-l2.svg);
  display: inline-block;
  background-size: contain;
  filter: var(--brightness);
  transform: translateY(0.2em);
}

.mana img{
  height: 1rem;
}

.svg-huge img{
  height: 2rem;
}

.svg-large img{
  height: 1.7rem;
}

.svg-medium img{
  height: 1rem;
}

.svg-small img{
  height: 0.8rem;
}

.svg-tiny img{
  height: 0.6rem;
}