.dui-asset-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.dui-asset-image__image {
  margin: auto;
  max-height: 100%;
  z-index: 0;
}
