.ui.button,
.ui.button.secondary {
  background-color: var(--secondary);
  font-family: var(--font-print);
  color: var(--button-text);
  padding: 10px 32px;
  border-radius: var(--radius);
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: expanded;
  line-height: 1.71;
  letter-spacing: normal;
  text-transform: uppercase;
}

.ui.button:hover,
.ui.button:active,
.ui.button.secondary:hover,
.ui.button.secondary:active {
  color: var(--primary);
  background-color: var(--secondary);
}

.ui.button:focus,
.ui.button.secondary:focus {
  color: var(--primary);
  background-color: var(--secondary);
  opacity: 0.95;
}

.ui.button:disabled,
.ui.button.secondary:disabled {
  opacity: 0.4;
  color: var(--button-text);
  background-color: var(--secondary);
}
