.ui.button,
.ui.button.secondary {
  background-image: var(--secondary-button-background);
  background: var(--secondary-button-background);
  color: var(--secondary-button-text);
  font-family: var(--font-print);
  padding: 0.7em 2em;
  border-radius: var(--radius);
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: expanded;
  line-height: 1.71;
  letter-spacing: normal;
  text-transform: uppercase;
}

.ui.button:hover,
.ui.button:active,
.ui.button.secondary:hover,
.ui.button.secondary:active {
  color: var(--secondary-button-text-active);
  background-image: var(--secondary-button-background-active);
  background-color: var(--secondary-button-background-active);
  background: var(--secondary-button-background-active);
}

.ui.button:focus,
.ui.button.secondary:focus {
  color: var(--secondary-button-text-active);
  background-image: var(--secondary-button-background-active);
  background-color: var(--secondary-button-background-active);
  background: var(--secondary-button-background-active);
  opacity: 0.95;
}

.ui.button:disabled,
.ui.button.secondary:disabled {
  opacity: 0.4 !important; /* this !important is due to an important in semantic-ui-css */
  color: var(--secondary-button-text);
  background-image: var(
    --secondary-button-background
  ) !important; /* this !important is due to an important in semantic-ui-css */
}

.ui.button.primary {
  background-image: var(--primary-button-background);
  background: var(--primary-button-background);
  color: var(--primary-button-text);
}

.ui.button.primary:hover,
.ui.button.primary:active {
  color: var(--primary-button-text-active);
  background-image: var(--primary-button-background-active);
  background-color: var(--primary-button-background-active);
  background: var(--primary-button-background-active);
}

.ui.button.primary:focus {
  color: var(--primary-button-text-active);
  background-image: var(--primary-button-background-active);
  background-color: var(--primary-button-background-active);
  background: var(--primary-button-background-active);
}

.ui.button.primary:disabled {
  color: var(--primary-button-text);
  background-image: var(
    --primary-button-background
  ) !important; /* this !important is due to an important in semantic-ui-css */
}

.ui.button + .ui.button {
  margin-left: 1em;
}
