.dcl.toasts {
  position: fixed;
  z-index: 3001; /* Appear over modals */
}

.dcl.toasts.top {
  top: 0;
}

.dcl.toasts.bottom {
  bottom: 0;
}

.dcl.toasts.left {
  left: 0;
}

.dcl.toasts.right {
  right: 0;
}
