.dcl.tabs {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  height: 65px;
  border-bottom: 1px solid var(--divider);
}

.dcl.tabs.fullscreen {
  border-bottom: 1px solid transparent;
  margin-bottom: 0px;
}

.dcl.tabs .dcl.tabs-left {
  flex: 1 0 auto;
}

.dcl.tab {
  position: relative;
  display: inline-block;
  padding: 19px 0px;
  margin-right: 32px;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  cursor: pointer;
}
.dcl.tab.active {
  font-weight: 600;
}

.dcl.tab .active-bar {
  position: absolute;
  bottom: -2px;
  left: 0px;
  right: 0px;
  border-bottom: 3px solid var(--primary);
  border-radius: 10px;
  z-index: 10;
}

@media (max-width: 768px) {
  .dcl.tabs,
  .dcl.tabs.fullscreen {
    height: auto;
    margin-top: calc(var(--navbar-margin-bottom) / 2);
    margin-bottom: calc(var(--navbar-margin-bottom) / 2);
  }

  .dcl.tab {
    display: block;
    font-size: 15px;
    padding: 0px 0px 0px 16px;
    margin-bottom: 8px;
    border-bottom: none;
  }

  .dcl.tab.active {
    border-bottom: none;
    border-left: 2px solid var(--primary);
  }

  .dcl.tab .active-bar {
    display: none;
  }
}
