.dui-navbar2__menu.dui-navbar2__menu-main {
  display: flex;
  height: 100%;
}

.dui-navbar2__menu.dui-navbar2__menu-mobile {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  top: -150vh;
  left: 0;
  transition: top 200ms ease-in-out;
}

@media (max-width: 991px) {
  .dui-navbar2__menu.dui-navbar2__menu-mobile {
    display: flex;
  }
}
