.dcl.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.dcl.hero .ui.header.title {
  margin-bottom: 12px;
  position: relative;
  text-align: center;
}

.dcl.hero .ui.header.subtitle {
  margin-top: 0px;
  position: relative;
  font-weight: normal;
}

.dcl.hero .content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
