# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10

    working_directory: /tmp/ui

    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install node dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Build library
          command: npm run build
      - save_cache:
          paths:
            - lib
          key: lib-{{ .Branch }}-{{ .Revision }}
      - save_cache:
          paths:
            - dist
          key: dist-{{ .Branch }}-{{ .Revision }}

  deploy:
    docker:
      - image: circleci/node:10

    working_directory: /tmp/ui

    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install node dependencies
          command: npm install
      - restore_cache:
          keys:
            - lib-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - dist-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Build storybook
          command: npm run build:storybook
      - run:
          name: Copy styles from lib
          command: cp ./lib/*.css ./storybook-static
      - add_ssh_keys:
          fingerprints:
            - "7d:bf:98:9c:fa:d8:d5:9c:38:5c:4d:59:fe:8e:01:72"
      - run:
          name: Deploy to Github Pages
          command: |
            npm init --yes
            npm install gh-pages --no-save

            mkdir storybook-static/.circleci
            touch storybook-static/.circleci/config.yml
            echo 'ui.decentraland.org' > storybook-static/CNAME

            git config user.name "decentraland-bot"
            git config user.email "developers@decentraland.org"
            ./node_modules/.bin/gh-pages --dist storybook-static

  release:
    docker:
      - image: circleci/node:10

    working_directory: /tmp/ui

    steps:
      - checkout
      - restore_cache:
          keys:
            - lib-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - dist-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install node dependencies
          command: npm install
      - run:
          name: Semantic release
          command: npm run semantic-release

workflows:
  version: 2
  build-deploy-release:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
      - release:
          requires:
            - build
          filters:
            branches:
              only: master
