.dcl.column {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 1 0 auto;
}

.dcl.row.left {
  align-items: flex-start;
}

.dcl.row.right {
  align-items: flex-end;
}

.dcl.row.center {
  align-items: center;
}
