.dcl.column {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.dcl.column.left {
  align-items: flex-start;
}

.dcl.column.right {
  align-items: flex-end;
}

.dcl.column.center {
  align-items: center;
}

.dcl.column.grow {
  flex: 1 0 auto;
}

.dcl.column.shrink {
  flex: 0 1 auto;
}

.dcl.column.grow.shrink {
  flex: 1 1 auto;
}
