.dcl.buy-mana-with-fiat-modal {
  width: 762px;
}

.dcl.buy-mana-with-fiat-modal .dcl.modal-navigation {
  align-items: flex-start;
  padding: 24px 32px 0px 32px;
}

.dcl.buy-mana-with-fiat-modal
  .dcl.modal-navigation
  .dcl.modal-navigation-title:before {
  content: url('../../assets/download.svg');
  width: 23px;
  height: 21px;
  margin-right: 12px;
}

.dcl.buy-mana-with-fiat-modal .dcl.option {
  width: 100%;
  height: 80px;
  box-shadow: var(--shadow-1);
  border-radius: 8px;
  border: var(--outline);
  background-color: var(--card-on-modal);
  display: flex;
  align-items: center;
  padding: 21px;
  cursor: pointer;
}

.dcl.buy-mana-with-fiat-modal .dcl.option:hover {
  background-color: var(--secondary-on-modal-hover);
}

.dcl.buy-mana-with-fiat-modal .dcl.option .image {
  flex: none;
  width: 29px;
  height: 29px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.dcl.option.matic .image {
  background-image: url('../../images/matic.svg');
}

.dcl.option.ethereum .image {
  background-image: url('../../images/ethereum.svg');
}

.dcl.buy-mana-with-fiat-modal .dcl.option .info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.dcl.buy-mana-with-fiat-modal .dcl.option .info .cta {
  font-weight: bold;
  color: var(--text);
}

.dcl.buy-mana-with-fiat-modal .dcl.option .info .ctaSubtitle {
  color: var(--secondary-text);
  margin-top: 4px;
}

.dcl.buy-mana-with-fiat-modal .dcl.option + .dcl.option {
  margin-top: 16px;
}

.dcl.buy-mana-with-fiat-modal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

.dcl.buy-mana-with-fiat-modal .message {
  margin-top: 28px;
  text-align: center;
  display: block;
  color: var(--text);
  line-height: 1.5;
  opacity: 0.9;
}

.dcl.buy-mana-with-fiat-modal .error {
  opacity: 0;
  user-select: none;
  color: var(--primary);
  margin: 20px 0;
  text-align: center;
}

.dcl.buy-mana-with-fiat-modal .error.visible {
  transition: opacity 0.25s ease;
  opacity: 1;
  user-select: auto;
}

.dcl.buy-mana-with-fiat-modal .loader-background {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
