.ui.modal.dcl.feedback-modal.pending {
  min-height: 540px;
}

.ui.modal.dcl.feedback-modal {
  max-width: 520px;
}

.dcl.feedback-modal .dcl.modal-navigation {
  padding-top: 40px;
}

.dcl.feedback-modal .dcl.modal-navigation .dcl.modal-navigation-title {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
}

.dcl.feedback-modal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 32px 24px 34px;
}

.dcl.feedback-modal .content .text-content {
  padding: 0 56px;
  margin-top: 40px;
}

.ui.modal.dcl.feedback-modal .content .status-icon {
  width: 18px;
  height: 18px;
  font-weight: 600;
}

.ui.modal.dcl.feedback-modal.pending .content .status-icon {
  color: #736e7d;
}

.ui.modal.dcl.feedback-modal.failure .content .status-icon {
  color: var(--millenial-orange);
}

.ui.modal.dcl.feedback-modal .content .description {
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.dcl.dcl.feedback-modal .content .gateway-image {
  flex: none;
  width: 100%;
  height: 128px;
  border-radius: 5px;
  max-width: 392px;
}

.dcl.feedback-modal .content .gateway-image.stars {
  content: url(../../assets/feedback-stars.svg);
  width: auto;
}

.dcl.feedback-modal .content .gateway-image.moonPay {
  background: url('../../images/moonpay.svg') no-repeat center, white;
  background-size: 65% auto;
}

.dcl.feedback-modal .content .gateway-image.transak {
  background: url('../../images/transak.svg') no-repeat center, white;
  background-size: 65% auto;
}

.ui.modal.dcl.feedback-modal .actions .ui.button + .ui.button,
.dcl.feedback-modal .content .text-content p {
  margin: 0;
}

.ui.modal.dcl.feedback-modal > .actions,
.ui.modal.dcl.feedback-modal .actions {
  margin: 0;
  padding: 24px 64px 64px 64px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.dcl.feedback-modal .actions .view-transaction {
  margin-top: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: var(--text);
}

.dcl.feedback-modal .actions .view-transaction i {
  margin-left: 7px;
}

.dcl.feedback-modal .actions .ui.loader {
  display: flex;
  top: 85%;
}

.dcl.feedback-modal .actions .go-to {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  margin: 40px 0;
  margin-top: 40px;
}

.dcl.feedback-modal .message {
  margin-top: 28px;
  text-align: center;
  display: block;
  color: var(--secondary-text);
  line-height: 1.5;
  opacity: 0.9;
}

.dcl.feedback-modal .error {
  opacity: 0;
  user-select: none;
  color: var(--primary);
  margin: 20px 0;
  text-align: center;
}

.dcl.feedback-modal .error.visible {
  transition: opacity 0.25s ease;
  opacity: 1;
  user-select: auto;
}

.dcl.feedback-modal .loader-background {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
