.dcl.network {
  max-width: min-content;
}

.dcl.network .dcl.modal-navigation {
  padding: 23px 0px 0px;
}

.dcl.network .content {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 24px;
}

.dcl.network .content .gateways-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  column-gap: 12px;
}

.dcl.network .dcl.gateway {
  max-width: 474px;
  min-height: 310px;
  box-shadow: var(--shadow-1);
  border-radius: 8px;
  border: var(--outline);
  background-color: var(--card-on-modal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 23px 23px 15px;
  cursor: pointer;
}

.dcl.network .dcl.gateway.disabled .image,
.dcl.network .dcl.gateway.disabled .info .diseableable-container {
  cursor: not-allowed;
}

.dcl.network .dcl.gateway.disabled .diseableable-container {
  background-color: var(--grey5);
  filter: opacity(0.3);
}

.dcl.network .dcl.gateway.disabled:hover {
  background-color: var(--card-on-modal);
}

.dcl.network .dcl.gateway:hover {
  background-color: var(--secondary-on-modal-hover);
}

.dcl.network .dcl.gateway .image {
  flex: none;
  width: 100%;
  height: 128px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 8px;
  border-radius: 5px;
}

.dcl.gateway.moonPay .image {
  background: url('../../images/moonpay.svg'), white;
}

.dcl.gateway.transak .image {
  background: url('../../images/transak.svg'), white;
}

.dcl.network .dcl.gateway .info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dcl.network .dcl.gateway .info .title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: var(--text);
}

.dcl.network .dcl.gateway .info .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--text);
}

.dcl.network .dcl.gateway .info .continue-button {
  margin-top: 16px;
  width: 100%;
}

.dcl.network .dcl.gateway .info .learn-more {
  margin-top: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}

.dcl.network .content .message {
  color: var(--secondary-text);
  line-height: 1.5;
  opacity: 0.9;
}

.dcl.network .error {
  opacity: 0;
  user-select: none;
  color: var(--primary);
  margin: 20px 0;
  text-align: center;
}

.dcl.network .error.visible {
  transition: opacity 0.25s ease;
  opacity: 1;
  user-select: auto;
}

.dcl.network .loader-background {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.transak_close {
  color: var(--dark);
}

.transak_close:hover,
.transak_close:focus {
  background: #000000;
}

@media only screen and (min-width: 1200px) {
  .dcl.network {
    min-width: 520px;
  }

  .dcl.network .dcl.gateway {
    min-width: 310px;
  }
}

@media screen and (max-width: 768px) {
  .dcl.network .content .gateways-container {
    flex-direction: column;
    row-gap: 12px;
  }
}
