.dcl.navbar2 {
  position: relative;
  height: var(--navbar-height);
  margin-bottom: var(--navbar-margin-bottom);
  border-bottom: 1px solid var(--divider);
  width: 100%;
  box-sizing: content-box;
  z-index: 20;
  margin-bottom: 0px;
  border-bottom: none;
}

.dcl.navbar2.open {
  z-index: var(--z-index-navbar);
}

.dcl.navbar2.open .ui.container {
  z-index: calc(var(--z-index-navbar) + 10);
}

.dcl.navbar2 .dcl.navbar2-menu {
  position: relative;
  height: 100%;
}

.dcl.navbar2 .menu-item::after {
  content: ' ';
  width: 12px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 8px;
  filter: var(--brightness);
  background-image: url('../../assets/arrow-down.svg');
  transition: transform 0.25s ease;
}

.dcl.navbar2.marketplace .menu-item.marketplace::after,
.dcl.navbar2.create .menu-item.create::after,
.dcl.navbar2.discover .menu-item.discover::after,
.dcl.navbar2.learn .menu-item.learn::after,
.dcl.navbar2.vote .menu-item.vote::after {
  transform: rotateZ(180deg) translateY(-1px);
}

.dcl.navbar2 .dcl.navbar2-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.dcl.navbar2 .ui.container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: var(--background);
  transition: background-color 0.25s ease;
  z-index: 20;
}

.dcl.navbar2-logo {
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin-top: 2px;
}

.dcl.account-wrapper,
.dcl.new-account-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.dcl.account-wrapper.clickable,
.dcl.new-account-wrapper.clickable {
  cursor: pointer;
}

.dcl.new-account-wrapper .dcl.mana {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  color: var(--text);
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}

.dcl.account-wrapper .dcl.mana {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  color: var(--text);
  font-size: 13px;
  line-height: 18px;
}

.dcl.account-wrapper .dcl.mana .symbol .ethereum,
.dcl.new-account-wrapper .dcl.mana .symbol .ethereum {
  font-size: 14px;
}

.dcl.account-wrapper .dcl.blockie,
.dcl.newaccount-wrapper .dcl.blockie {
  width: 32px;
  height: 32px;
  margin-top: -0.2em;
}

.dcl.navbar2-account {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.dcl.navbar2-account .dcl.navbar2-wrapper.secondary.navbar2-account-menu {
  margin: 0px 24px 0px 0px;
}

.dcl.navbar2-account .dcl.navbar2-wrapper.navbar2-account-menu .item .icon {
  margin: 0em;
}

.dcl.navbar2 .dcl.navbar2-wrapper.secondary {
  margin: 0px;
}

.dcl.navbar2 .dcl.navbar2-wrapper .item {
  font-weight: normal;
  color: var(--secondary-text);
  border-radius: 6px;
  text-transform: uppercase;
  font-family: var(--font-family);
  margin-left: 24px;
  padding: 0px;
  font-size: 13px;
  line-height: 18px;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
}

.dcl.navbar2 .dcl.navbar2-wrapper .item.disabled {
  color: var(--secondary-text) !important;
  opacity: 0.5;
}

.dcl.navbar2 .dcl.navbar2-wrapper .item:hover,
.dcl.navbar2 .dcl.navbar2-wrapper .item .item:has(+ .item.submenu),
.dcl.navbar2 .dcl.navbar2-wrapper .item.active,
.dcl.navbar2 .dcl.navbar2-wrapper .item.active .item {
  color: var(--text);
  background: transparent;
  cursor: pointer;
}

.dcl.navbar2 .dcl.navbar2-wrapper .item > .item {
  z-index: 1;
}

.dcl.navbar2 .dcl.navbar2-wrapper .item.active,
.dcl.navbar2 .dcl.navbar2-wrapper .item.active .item {
  font-weight: bold;
}

.dcl.active-page {
  color: var(--text);
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0px;
}

.dcl.active-page::after {
  content: ' ';
  width: 12px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 8px;
  filter: var(--brightness);
  background-image: url('../../assets/arrow-down.svg');
  transition: transform 0.25s ease;
}

.dcl.active-page.caret-down::after {
  transform: rotateZ(0deg) translateY(-1px);
}

.dcl.active-page.caret-up::after {
  transform: rotateZ(180deg) translateY(1px);
}

.dcl.navbar2 .children-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.dcl.navbar2 .mobile-menu {
  position: relative;
  display: none;
  padding-top: 0px;
  transition: opacity 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
  opacity: 0;
  transform: translateY(-16px);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.dcl.navbar2.sign-in .dcl.navbar2-wrapper .item.sign-in-button {
  color: var(--primary);
  font-weight: bold;
  cursor: default;
}

.dcl.navbar2 .dcl.navbar2-wrapper .item > a.item {
  margin-left: 0;
  margin-right: 0;
}

.dcl.navbar2 .item.submenu {
  position: fixed;
  top: calc(-430px + var(--navbar-height));
  z-index: 0;
  left: 0;
  width: calc(100vw - 450px);
  max-width: 100%;
  height: 328px;
  box-shadow: none;
  background-position: 0 0px;
  background-repeat: no-repeat;
  padding-left: 450px;
  display: flex;
  align-items: center;
  
  transition: top 200ms ease-in-out 1ms, box-shadow 200ms ease-in-out 200ms,
    height 200ms ease-in-out 100ms;
}

.dcl.navbar2:not(.unselected)
  .submenu-container.marketplace-selected
  .item.submenu.marketplace-submenu {
  
  z-index: 10;
  top: var(--navbar-height);
  box-shadow: var(--shadow-2);
}

.dcl.navbar2:not(.unselected)
  .submenu-container.create-selected
  .item.submenu.create-submenu {
  
  z-index: 10;
  top: var(--navbar-height);
  box-shadow: var(--shadow-2);
}

.dcl.navbar2:not(.unselected)
  .submenu-container.discover-selected
  .item.submenu.discover-submenu {
  
  z-index: 10;
  top: var(--navbar-height);
  box-shadow: var(--shadow-2);
}

.dcl.navbar2:not(.unselected)
  .submenu-container.learn-selected
  .item.submenu.learn-submenu {
  
  z-index: 10;
  top: var(--navbar-height);
  box-shadow: var(--shadow-2);
}

.dcl.navbar2:not(.unselected)
  .submenu-container.vote-selected
  .item.submenu.vote-submenu {
  opacity: 1;
  z-index: 10;
  top: var(--navbar-height);
  box-shadow: var(--shadow-2);
}

.dcl.navbar2 .item.submenu.submenu-item-external a {
  background-image: url('../../assets/link-external-icon.svg');
}

.dcl.navbar2 .item.submenu.marketplace-submenu::after {
  content: '';
  position: absolute;
  background-image: url('../../assets/navbar-avatar-marketplace.png');
  width: 241px;
  height: 100%;
  top: 0;
  left: 100px;
}

.dcl.navbar2 .item.submenu.create-submenu::after {
  content: '';
  position: absolute;
  background-image: url('../../assets/navbar-avatar-create.png');
  width: 259px;
  height: 100%;
  top: 0;
  left: 100px;
}

.dcl.navbar2 .item.submenu.discover-submenu::after {
  content: '';
  position: absolute;
  background-image: url('../../assets/navbar-avatar-discover.png');
  width: 259px;
  height: 100%;
  top: 0;
  left: 100px;
}

.dcl.navbar2 .item.submenu.learn-submenu::after {
  content: '';
  position: absolute;
  background-image: url('../../assets/navbar-avatar-learn.png');
  width: 378px;
  height: 100%;
  top: 0;
  left: 100px;
}

.dcl.navbar2 .item.submenu.vote-submenu::after {
  content: '';
  position: absolute;
  background-image: url('../../assets/navbar-avatar-vote.png');
  width: 390px;
  height: 100%;
  top: 0;
  left: 100px;
}

.dcl.navbar2 .item.submenu {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px;
}

.dcl.navbar2 .item.submenu.marketplace-submenu {
  background-image: radial-gradient(
      350px 200px at 400px 120%,
      #691fa933 0%,
      transparent 150%
    ),
    radial-gradient(350px 200px at 1280px 120%, #691fa933 0%, #073aff00 100%);
  height: 290px;
}

.dcl.navbar2 .item.submenu.create-submenu {
  background-image: radial-gradient(
      350px 200px at 400px 120%,
      #ff743933 0%,
      transparent 150%
    ),
    radial-gradient(350px 200px at 1280px 120%, #ff743933 0%, #073aff00 100%);
  height: 430px;
}

.dcl.navbar2 .item.submenu.discover-submenu {
  background-image: radial-gradient(
      350px 200px at 400px 120%,
      #3dd0ff33 0%,
      transparent 150%
    ),
    radial-gradient(350px 200px at 1280px 120%, #3dd0ff33 0%, #073aff00 100%);
  height: 284px;
}

.dcl.navbar2 .item.submenu.learn-submenu {
  background-image: radial-gradient(
      350px 200px at 400px 120%,
      #a6746433 0%,
      transparent 150%
    ),
    radial-gradient(350px 200px at 1280px 120%, #a6746433 0%, #073aff00 100%);
  height: 284px;
}

.dcl.navbar2 .item.submenu.vote-submenu {
  background-image: radial-gradient(
      350px 200px at 400px 120%,
      #ff3dec33 0%,
      transparent 150%
    ),
    radial-gradient(350px 200px at 1280px 120%, #ff3dec33 0%, #073aff00 100%);
  height: 284px;
}

.dcl.navbar2 .item.submenu .submenu-column__wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: fit-content;
}

.dcl.navbar2 .item.submenu .submenu-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  flex-wrap: nowrap;
  margin-right: 56px;
}

.dcl.navbar2 .item.submenu .submenu-item {
  display: flex;
  padding: 0px 16px;
  height: 65px;
  width: 340px;
  border-bottom-color: var(--navbar-item-border-enabled);
  border-bottom-style: solid;
}

.dcl.navbar2 .item.submenu .submenu-column:not(.submenu-column-title) > h1 {
  display: none;
}

.dcl.navbar2 .item.submenu .submenu-column.submenu-column-title > h1 {
  color: #a09ba8;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.dcl.navbar2 .item.submenu .submenu-item:hover {
  border-bottom-color: var(--navbar-item-border-hover);
}

.dcl.navbar2 .item.submenu .submenu-item:not(:first-child) {
  margin-top: 40px;
}

.dcl.navbar2 .item.submenu .submenu-item h1,
.dcl.navbar2 .item.submenu .submenu-item p {
  color: var(--navbar-item-text-enable);
}

.dcl.navbar2 .item.submenu .submenu-item:hover h1,
.dcl.navbar2 .item.submenu .submenu-item:hover p {
  color: var(--navbar-item-text-hover);
}

.dcl.navbar2 .item.submenu .submenu-item h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.dcl.navbar2 .item.submenu .submenu-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.dcl.navbar2 .submenu .ui.vertical.menu {
  background: transparent;
  box-shadow: var(--shadow-2);
}

.dcl.navbar2 .submenu .item {
  font-weight: normal;
  color: var(--text);
  border-radius: 0;
  text-transform: uppercase;
  font-family: var(--font-family);
  margin-left: 0;
  margin-right: 0;
  font-size: 13px;
  line-height: 1.4285em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--dropdown-hover);
  padding: 12px 16px;
}

.dcl.navbar2 .dcl.navbar2-wrapper .item .submenu .item:last-child {
  border-bottom: none;
}

.dcl.navbar2 .dcl.navbar2-wrapper .item .submenu .item:hover {
  background-color: var(--dropdown-hover);
}

@media (max-width: 768px) {
  /* .dcl.navbar2-logo {
    cursor: pointer;
    width: 36px;
    height: 36px;
  }

  .dcl.navbar2 .ui.container {
    width: calc(100% - 32px) !important;
    padding: 0px 16px;
    margin: 0px !important;
  }

  .dcl.navbar2.overlay .ui.container {
    width: calc(100%) !important;
  }

  .dcl.navbar2-logo {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-top: 0px;
  }

  .dcl.navbar2 .mobile-menu {
    display: flex;
    flex-flow: column;
    pointer-events: none;
    background-color: var(--navbar-popup);
  }

  .dcl.navbar2.open .mobile-menu {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
    box-shadow: var(--shadow-3);
    overflow-y: overlay;
    overflow-x: hidden;
    max-height: 395px;
    z-index: 9999;
  }

  .dcl.navbar2 .mobile-menu .item {
    padding: 19px 65px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--text);
  }

  .dcl.navbar2 .mobile-menu .item.active,
  .dcl.navbar2 .mobile-menu .item.active .item {
    background-color: var(--navbar-popup-hover);
    font-weight: bold;
  }

  .dcl.navbar2 .mobile-menu .item.submenu .ui.vertical.menu {
    width: 100%;
  }

  .dcl.navbar2 .mobile-menu .item,
  .dcl.navbar2 .mobile-menu .item.submenu {
    margin-left: 0;
    margin-right: 0;
  }

  .dcl.navbar2 .mobile-menu .item.submenu {
    position: relative;
    top: 0;
    padding: 0;
  }

  .dcl.navbar2 .mobile-menu .item.submenu .ui.vertical.menu {
    background-color: var(--navbar-popup);
    box-shadow: none;
  }

  .dcl.navbar2 .mobile-menu .item.submenu .item {
    font-weight: normal;
    color: var(--text);
    border-radius: 0;
    text-transform: uppercase;
    font-family: var(--font-family);
    margin-left: 0;
    margin-right: 0;
    font-size: 13px;
    line-height: 1.4285em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dropdown-hover);
    padding: 12px 0 12px 76px;
  }

  .dcl.navbar2 .mobile-menu .item.submenu .item:last-child {
    border-bottom: none;
  }

  .dcl.navbar2 .mobile-menu .item.submenu .item:hover {
    background-color: var(--navbar-popup-hover);
  } */
}
