.Modal-story {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 24px;
}

.Modal-custom-header {
  position: relative;
  width: 100%;
  height: 220px;
  background-color: var(--luisxvi-violet);
}

.Modal-custom-header .ui.header,
.Modal-custom-header p {
  color: white;
}
