:root {
  /* sizes */
  --navbar-height: 64px;
  --navbar-height-mobile: 56px;
  --menu-height-mobile: 240px;

  /* z-indexes */
  --z-index-navbar: 1000;

  /* fonts */
  --font-print: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;

  /* colors */
  --neon-blue: #00d9ff;
  --neon-red: #ff0044;
  --orange-yellow: #ffa900;
  --orange: #ff9a74;
  --dark: #181f33;
  --gray: #5c5c6e;
  --dark-blue-grey: #0a0f1f;
  --pale-strawberry: #ff85a5;
  --fuchsia: #eb85ff;
  --purple: #8d85ff;
  --light-blue: #85c0ff;
  --sunrise: #ffb485;
}

body {
  font-family: var(--font-print);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-print);
  color: var(--text);
}

p {
  color: var(--text);
}

a {
  color: var(--text);
  font-weight: 500;
}
a:hover {
  color: var(--primary);
}
