:root {
  /* sizes */
  --navbar-height: 64px;
  --navbar-height-mobile: 56px;
  --navbar-margin-bottom: 44px;
  --footer-height: 56px;
  --page-vertical-padding: 10px;
  --page-horizontal-padding: 20px;

  /* z-indexes */
  --z-index-navbar: 1000;

  /* fonts */
  --font-print: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --font-monospace: "Inconsolata", "Consolas", "Droid Sans Mono", "Monaco",
    "Courier New", monospace;

  /* colors */
  --neon-blue: #00d3ff;
  --neon-red: #ff2d55;
  --orange-yellow: #ffa900;
  --orange: #ff9a74;
  --dark: #181f33;
  --gray: #5c5c6e;
  --dark-blue-grey: #0a0f1f;
  --pale-strawberry: #ff85a5;
  --fuchsia: #eb85ff;
  --purple: #8d85ff;
  --light-blue: #85c0ff;
  --sunrise: #ffb485;
}

body {
  font-family: var(--font-print);
  background: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-print);
  color: var(--text);
}

p {
  color: var(--text);
}

a {
  color: var(--primary);
  font-weight: 500;
}
a:hover {
  color: var(--primary);
}
