:root {
  /* sizes */
  --navbar-height: 94px;
  --navbar-height-mobile: 68px;

  /* fonts */
  --font-print: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;

  /* colors */
  --neon-blue: #00d9ff;
  --neon-red: #ff0044;
  --orange-yellow: #ffa900;
  --orange: #ff9a74;
  --dark: #181f33;
  --gray: #7d8499;
  --dark-blue-grey: #0a0f1f;
  --pale-strawberry: #ff85a5;
  --fuchsia: #eb85ff;
  --purple: #8d85ff;
  --light-blue: #85c0ff;
  --sunrise: #ffb485;
}

body {
  font-family: var(--font-print);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-print);
}
