:root {
  /* colors */
  --primary: #ff0044;
  --secondary: #181f33;
  --accent: #00d9ff;

  /* gradients */
  --primary-gradient: #ff9a74;

  /* text */
  --text: #ffffff;
  --secondary-text: #7d8499;
  --text-on-primary: #ffffff;
  --text-on-secondary: #ffffff;

  /* borders */
  --radius: 8px;
  --outline: #181f33;
}
