:root {
  /* colors */
  --primary: var(--neon-red);
  --secondary: var(--dark);
  --accent: var(--orange);
  --text: white;
  --radius: 8px;

  /* buttons */
  --primary-button-text: white;
  --primary-button-background: linear-gradient(
    to top,
    var(--primary),
    var(--primary)
  );
  --primary-button-text-active: var(--primary-button-text);
  --primary-button-background-active: linear-gradient(
    to top,
    var(--accent),
    var(--primary)
  );

  --secondary-button-text: white;
  --secondary-button-background: var(--secondary);
  --secondary-button-text-active: var(--primary);
  --secondary-button-background-active: var(--secondary);
}
