:root {
  /* colors */
  --primary: #ff0044;
  --secondary: #f2f2f5;
  --accent: #00d9ff;

  /* gradients */
  --primary-gradient: #ff9a74;

  /* text */
  --text: #0a0f1f;
  --secondary-text: #7d8499;
  --text-on-primary: #ffffff;
  --text-on-secondary: #0a0f1f;

  /* borders */
  --radius: 8px;
  --outline: #e0e2e8;
}
