.CatalogCard {
  height: 360px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: var(--outline);
  border-radius: 8px;
  background-color: var(--card);
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 0;
  color: var(--text);
}

.CatalogCard .dui-asset-image {
  border-radius: 8px 0px 8px 0px;
  height: 209px;
  transition: height 0.3s;
  width: 100%;
}

.CatalogCard .badge {
  margin-top: 10px;
}

.CatalogCard .textOverflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.CatalogCard .header .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 24px;
}

.CatalogCard .creator {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text);
}

.CatalogCard.ui.card > .content > .header:not(.ui) {
  margin-bottom: 0px;
  flex: unset;
}

.CatalogCard .CatalogItemInformation {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  transition: inherit;
  flex: 1;
}

.CatalogCard .mintIcon {
  width: 14px;
  height: 14px;
  background-image: url(../../assets/minting.svg);
}

.CatalogCard .PriceInMana .ui.header.large {
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.CatalogCard.ui.card {
  flex: 1;
  border: none;
  margin: unset;
}

/* Hover styles */

.CatalogCard.ui.link.card:hover,
.CatalogCard.a.ui.card:hover {
  background-color: var(--card);
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 6px rgba(255, 255, 255, 0.37);
  border: none !important;
}

.CatalogCard:hover .dui-asset-image {
  height: 161px;
}

.CatalogCard:hover .extraInformation {
  visibility: visible;
  margin-top: 5px;
  height: auto;
  opacity: 1;
  align-items: center;
}

.CatalogCard:hover .CatalogItemInformation {
  margin-top: 2px;
}

.CatalogCard.ui.card:hover > .content.catalog {
  position: absolute;
  height: 206px;
  margin-top: 161px;
  width: 100%;
  background-color: var(--card);
  box-shadow: 0px 4px 34px 0px rgba(255, 255, 255, 0.37) !important;
  border-radius: 0px 0px 10px 10px !important;
}

.CatalogCard .catalogHeader {
  margin-bottom: unset !important;
  flex: unset;
}

/* Responsive styles */

@media (min-width: 119px) {
  .CatalogCard .extraInformation {
    display: flex;
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: height 0.1s, opacity 0.6s;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .CatalogCard .header .title {
    margin-right: 0;
  }

  .CatalogCard .dcl.mana.inline {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }

  .CatalogCard .extraInformation {
    margin-top: 6px;
    visibility: visible;
    height: unset;
    font-size: 12px;
    font-weight: normal;
    opacity: 1;
  }

  .dui-asset-image.catalog,
  .dui-asset-image__image {
    height: 123px;
  }

  .CatalogCard.ui.card > .content.catalog > .header:not(.ui) {
    flex: unset;
  }
}

@media (max-width: 768px) {
  .CatalogCard.ui.card.CatalogCard.catalog {
    height: 345px;
  }

  .CatalogCard.ui.card > .content.catalog {
    display: flex;
  }

  .CatalogCard.ui.card > .content.catalog > .header:not(.ui) {
    font-size: 15px;
    flex: unset;
  }

  .CatalogCard .CatalogItemInformation {
    font-size: 15px;
  }

  .CatalogCard .PriceInMana .ui.header.large {
    font-size: 25px;
  }

  .CatalogCard .PriceInMana {
    margin-top: 6px;
  }

  .CatalogCard .extraInformation {
    margin-top: 6px;
    visibility: visible;
    height: unset;
    font-size: 12px;
    font-weight: normal;
    opacity: 1;
  }

  .CatalogCard.ui.card > .content {
    display: block;
  }

  .dui-asset-image.catalog,
  .dui-asset-image__image {
    height: 123px;
  }
}
