.dcl.blockie {
  border-radius: 6px;
  vertical-align: text-bottom;
  line-height: 0.5em;
  margin-left: 0.1em;
}

.dcl.blockie.small {
  border-radius: 4px;
}

.dcl.blockie.tiny {
  border-radius: 3px;
}

.dcl.blockie.mini {
  border-radius: 1.5px;
}

.dcl.blockie + .dcl.blockie {
  margin-left: 1em;
}

.dcl.blockie-wrapper .dcl.blockie-children {
  margin-left: 0.5em;
}
