.dui-rarity-badge {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  border-radius: 5px;
  width: fit-content;
  background-color: var(--background);
}

.dui-rarity-badge .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.dui-rarity-badge .wrapper.medium {
  padding: 4px 12px;
}
.dui-rarity-badge .wrapper.medium .text {
  font-size: 15px;
}

.dui-rarity-badge .wrapper.small {
  padding: 3px 6px;
  height: 24px;
}
.dui-rarity-badge .wrapper.small .text {
  font-size: 13px;
}

.dui-rarity-badge .text {
  line-height: normal;
}
