.dui-asset-status-filter {
  padding: 21px 24px;
  background: #242129;
  border: none;
}

@media only screen and (max-width: 991px) {
  .dui-asset-status-filter__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: none;
    font-size: 17px;
  }

  .dui-asset-status-filter__name {
    color: #fff;
  }
}
