.dcl.navbar {
  position: relative;
  height: var(--navbar-height);
  margin-bottom: var(--navbar-margin-bottom);
  border-bottom: 1px solid var(--divider);
  width: 100%;
  box-sizing: content-box;
  z-index: 20;
}

.dcl.navbar.fullscreen {
  margin-bottom: 0px;
  border-bottom: none;
}

.dcl.navbar.overlay {
  position: absolute;
}

.dcl.navbar.open {
  z-index: var(--z-index-navbar);
}

.dcl.navbar.open .ui.container {
  background-color: var(--navbar-popup);
  z-index: calc(var(--z-index-navbar) + 10);
}

.dcl.navbar .navbar-menu {
  position: relative;
}

.dcl.navbar .navbar-mobile-menu {
  display: flex;
  align-items: center;
}

.dcl.navbar .navbar-mobile-menu .ui.header {
  font-weight: bold;
  margin-left: 16px;
}

.dcl.navbar .ui.container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.25s ease;
}

.dcl.navbar-logo {
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin-top: 2px;
}

.dcl.account-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.dcl.account-wrapper.clickable {
  cursor: pointer;
}

.dcl.account-wrapper .dcl.mana {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  color: var(--text);
  font-size: 13px;
  line-height: 18px;
}

.dcl.account-wrapper .dcl.mana .symbol .ethereum {
  font-size: 14px;
}

.dcl.account-wrapper .dcl.blockie {
  width: 32px;
  height: 32px;
}

.dcl.account-wrapper .dcl.blockie {
  margin-top: -0.2em;
}

.dcl.navbar-account {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.dcl.navbar-account .ui.menu.ui.menu.secondary.navbar-account-menu {
  margin: 0px 24px 0px 0px;
}

.dcl.navbar-account .ui.menu.navbar-account-menu .item .icon {
  margin: 0em;
}

.dcl.navbar .ui.menu.secondary {
  margin: 0px;
}

.dcl.navbar .ui.menu .item {
  font-weight: normal;
  color: var(--secondary-text);
  border-radius: 6px;
  text-transform: uppercase;
  font-family: var(--font-family);
  margin-left: 24px;
  padding: 0px;
  font-size: 13px;
  line-height: 18px;
}

.dcl.navbar .ui.menu .item.disabled {
  color: var(--secondary-text) !important;
  opacity: 0.5;
}

.dcl.navbar .ui.menu .item:hover,
.dcl.navbar .ui.menu .item.active {
  color: var(--text);
  background: transparent;
  cursor: pointer;
}

.dcl.navbar .ui.menu .item.active {
  font-weight: bold;
}

.dcl.active-page {
  color: var(--text);
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0px;
}

.dcl.active-page::after {
  content: ' ';
  width: 12px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 8px;
  filter: var(--brightness);
  background-image: url('../../assets/arrow-down.svg');
  transition: transform 0.25s ease;
}

.dcl.active-page.caret-down::after {
  transform: rotateZ(0deg) translateY(-1px);
}

.dcl.active-page.caret-up::after {
  transform: rotateZ(180deg) translateY(1px);
}

.dcl.navbar .children-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.dcl.navbar .mobile-menu {
  position: relative;
  display: none;
  padding-top: 0px;
  transition: opacity 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
  opacity: 0;
  transform: translateY(-16px);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.dcl.navbar.sign-in .ui.menu .item.sign-in-button {
  color: var(--primary);
  font-weight: bold;
  cursor: default;
}

@media (max-width: 768px) {
  .dcl.navbar-logo {
    cursor: pointer;
    width: 36px;
    height: 36px;
  }

  .dcl.navbar .ui.container {
    width: calc(100% - 32px) !important;
    padding: 0px 16px;
    margin: 0px !important;
  }

  .dcl.navbar.overlay .ui.container {
    width: calc(100%) !important;
  }

  .dcl.navbar-logo {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-top: 0px;
  }

  .dcl.navbar .mobile-menu {
    display: flex;
    flex-flow: column;
    pointer-events: none;
    background-color: var(--navbar-popup);
  }

  .dcl.navbar.open .mobile-menu {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
    box-shadow: var(--shadow-3);
  }

  .dcl.navbar .mobile-menu .item {
    padding: 19px 65px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--text);
  }

  .dcl.navbar .mobile-menu .item.active {
    background-color: var(--navbar-popup-hover);
    font-weight: bold;
  }

  .dcl.navbar .mobile-menu .item:hover {
    color: var(--text);
    background-color: var(--navbar-popup-hover);
  }
}
