.dcl.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  padding: 0px 30px;
}

.dcl.navbar-logo {
  cursor: pointer;
}

.dcl.account-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.dcl.account-wrapper .dcl.mana {
  display: inline-block;
  margin: 0em 1em 0em 0em;
}

.dcl.account-wrapper .dcl.blockie {
  margin-top: -0.2em;
}

.dcl.navbar-account {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.dcl.navbar-account .ui.menu.navbar-account-menu {
  margin: 0em 1em 0em 0em;
}

.dcl.navbar-account .ui.menu.navbar-account-menu .item .icon {
  margin: 0em;
}

.dcl.navbar-back {
  display: inline-block;
  position: relative;
  width: 52px;
  height: 52px;
  background-color: var(--secondary);
  border-radius: 100%;
}

.dcl.navbar-back .icon.chevron {
  position: absolute;
  top: 16px;
  left: 12px;
}

.dcl.navbar .ui.menu .item {
  color: var(--secondary-text);
  border-radius: var(--radius);
  text-transform: uppercase;
}

.dcl.navbar .ui.menu .item:hover,
.dcl.navbar .ui.menu .item.active {
  color: var(--text-on-primary);
  background: var(--primary);
}

.dcl.hamburger {
  cursor: pointer;
}

.dcl.active-page {
  color: var(--text);
  display: inline-block;
  text-transform: uppercase;
  padding-left: 0.5em;
  transform: translateY(4px);
  cursor: pointer;
}
