.dcl.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  padding: 0px 32px;
  margin-bottom: 32px;
}

.dcl.navbar-logo {
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.dcl.account-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.dcl.account-wrapper .dcl.mana {
  display: inline-block;
  margin: 0em 1em 0em 0em;
}

.dcl.account-wrapper .dcl.blockie {
  margin-top: -0.2em;
}

.dcl.navbar-account {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.dcl.navbar-account .ui.menu.navbar-account-menu {
  margin: 0em 1em 0em 0em;
}

.dcl.navbar-account .ui.menu.navbar-account-menu .item .icon {
  margin: 0em;
}

.dcl.navbar-back {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: var(--secondary);
  border-radius: 100%;
  padding: 15px 12px;
  color: var(--text-on-secondary);
}

.dcl.navbar-back .icon.chevron.left {
  font-size: 18px;
}

.dcl.navbar .ui.menu .item {
  color: var(--secondary-text);
  border-radius: var(--radius);
  text-transform: uppercase;
  font-family: var(--font-print);
}

.dcl.navbar .ui.menu .item:hover,
.dcl.navbar .ui.menu .item.active {
  color: var(--text-on-primary);
  background: var(--primary);
}

.dcl.hamburger {
  cursor: pointer;
  color: var(--primary);
}

.dcl.active-page {
  color: var(--text);
  display: inline-block;
  text-transform: uppercase;
  padding-left: 0.5em;
  transform: translateY(3px);
  cursor: pointer;
  margin: 0px;
}

.dcl.navbar-hamburger-wrapper {
  transform: translateY(-4px);
}

@media (max-width: 768px) {
  .dcl.navbar {
    height: var(--navbar-height-mobile);
    padding: 0px 16px;
    margin-bottom: 24px;
  }

  .dcl.navbar-logo {
    cursor: pointer;
    width: 36px;
    height: 36px;
  }

  .dcl.navbar .dcl.account-wrapper {
    transform: scale(0.889);
  }

  .dcl.navbar-back {
    width: 36px;
    height: 36px;
    background-position: 13px 12px;
    background-size: 22%;
    padding: 9px;
  }

  .dcl.navbar-back .icon.chevron.left {
    font-size: 14px;
  }
}
