.dcl.notification-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  gap: 16px;
}

.dcl.notification-item__image {
  margin-left: 16px;
}

.dcl.notification-item__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dcl.notification-item__content-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}

.dcl.notification-item__content-description {
  display: inline;
  color: #a09ba8;
  margin: 4px 0;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.dcl.notification-item__content-description .ui.header.mana.inline {
  margin-bottom: 0;
}

.dcl.notification-item__content-description a {
  text-decoration: underline;
  margin: 0 3px;
}

.dcl.notification-item__content-description .dui-icon-badge {
  margin: 0 3px;
}

.dcl.notification-item__content-timestamp {
  font-size: 12px;
  font-weight: 600;
}

.dcl.notification-text-highlighted {
  color: var(--primary);
}

.dcl.notification-link {
  color: var(--primary);
  text-decoration: underline;
}

.notification-item__countdown {
  padding: 2px 10px;
  background-color: #37333d;
  width: fit-content;
  color: white;
  border-radius: 20px;
  display: inline;
}
