.dcl.notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.dcl.notifications > div:first-child {
  width: 32px;
  height: 32px;
}

.dcl.notifications-bell {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  transition: filter 0.2s ease;
  cursor: pointer;
  position: relative;
}

.dcl.notifications-counter {
  width: 16px;
  height: 16px;
  position: relative;
  top: -24px;
  left: 19px;
}
