.dcl.notification-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}

.dcl.notification-item__image {
  margin-left: 16px;
}

.dcl.notification-item__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 16px;
}

.dcl.notification-item__content-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}

.dcl.notification-item__content-description {
  display: flex;
  color: #a09ba8;
  margin: 4px 0;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.dcl.notification-item__content-description .ui.header.mana.inline {
  margin-bottom: 0;
}

.dcl.notification-item__content-timestamp {
  font-size: 12px;
  font-weight: 600;
}

.dcl.notification-text-highlighted {
  color: var(--primary);
}

.dcl.notification-link {
  color: var(--primary);
  text-decoration: underline;
}
