.dcl.notification-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}

.dcl.notification-item__image {
  margin-left: 16px;
}

.dcl.notification-item__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 16px;
}

.dcl.notification-item__content__title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}

.dcl.notification-item__content__description {
  color: #a09ba8;
  margin: 4px 0;
}

.dcl.notification-item__content__timestamp {
  font-size: 12px;
  font-weight: 600;
}
