.dcl.box {
  border: 2px solid var(--secondary);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 13px 20px 8px;
  position: relative;
}

.dcl.box .box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dcl.box .box-header:not(.collapsed) {
  margin-bottom: 13px;
}

.dcl.box .dcl.box-header-text {
  text-transform: uppercase;
  color: #736e7d;
  font-weight: 600;
  font-size: 13px;
  flex: 1;
}

.dcl.box.borderless {
  border-color: transparent;
}

.dcl.box .box-header .collapse-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin-left: 10px;
}

.dcl.box .box-header .collapse-btn:focus {
  outline: 1px solid white;
}

.dcl.box .box-header .ui.button.collapse-btn i {
  margin-right: 0;
  color: #736e7d;
}
