.dcl.box {
  border: 2px solid var(--secondary);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 22px 20px 8px;
}

.dcl.box .dcl.box-header {
  margin-bottom: 19px;
  text-transform: uppercase;
  color: #736e7d;
  font-weight: 600;
  font-size: 13px;
}
