.dcl.user-menu {
  display: flex;
  position: relative;
  text-align: left;
  outline: none;
}

.dcl .user-menu__jump-in {
  padding: 5px 32px;
  margin-left: 24px;
}

@media (max-width: 768px) {
  
}
