.dcl.user-menu {
  display: flex;
  position: relative;
  text-align: left;
  outline: none;
}

.dcl.user-menu .toggle,
.dcl.user-menu .toggle .avatar-face {
  width: 42px;
  height: 42px;
}

.dcl.user-menu .menu-wrapper .avatar-face {
  background: rgba(var(--dark-raw), 0.3);
}

.dcl.user-menu .toggle {
  cursor: pointer;
}

.dcl.user-menu .ui.button {
  font-size: 12px;
  line-height: 18px;
  padding: 9px 14px;
  min-width: 0;
}

.dcl.user-menu .menu-wrapper {
  position: absolute;
  top: 56px;
  right: 0;
  z-index: 1;
  background-color: var(--background);
  box-shadow: var(--shadow-2);
  border-radius: 6px;
  display: inline-block;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: translate(0, -4px);
  min-width: 180px;
  overflow: hidden;
  width: 561px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 607px;
}

.dcl.user-menu .menu-wrapper .menu-wearable-preview {
  height: 110%;
  margin-left: -100px;
  margin-bottom: -100px;
}

.dcl.user-menu .menu-wrapper .menu-wearable-preview .WearablePreview {
  background: var(--background);
}

.dcl.user-menu .menu-wrapper.clickable {
  pointer-events: auto;
}

.dcl.user-menu .menu-wrapper.open {
  opacity: 1;
  transform: translate(0, 0);
}

.dcl.user-menu .menu-info {
  color: var(--text);
  display: flex;
  align-items: center;
  border: none;
  padding: 64px 0 47px;
  color: var(--usermenu-item-text-enabled);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.dcl.user-menu .menu-info span {
  margin-left: 12px;
  color: var(--navbar-menu-enabled);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.dcl.user-menu .menu-info.clickable {
  cursor: pointer;
}

.dcl.user-menu .menu-info.clickable:hover {
  background-color: var(--dropdown-hover);
}

.dcl.user-menu .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.19px;
}

.dcl .user-menu__jump-in {
  padding: 5px 32px;
  margin-left: 24px;
}

.dcl.user-menu .email {
  font-size: 14px;
  line-height: 18px;
}

.dcl.user-menu .menu-actions__wrapper {
  height: 607px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dcl.user-menu .menu-actions {
  list-style-type: none;
  padding: 0;
  margin: 0 55px 0 0;
  font-size: 14px;
  width: 276px;
  height: 100%;
}

.dcl.user-menu .menu-actions li,
.dcl.user-menu .menu-actions .item {
  cursor: pointer;
  padding: 40px 0 23.66px;
  display: flex;
  align-items: center;
  border-bottom-color: var(--usermenu-item-border-enabled);
  color: var(--usermenu-item-text-enabled);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border-bottom-style: solid;
}

.dcl.user-menu .menu-option__sign-out {
  color: var(--navbar-menu-enabled);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 24px;
  line-height: 18px;
  margin: 0 55px 48px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dcl.user-menu .menu-option__sign-out .iconContainer {
  margin-left: 10px;
  height: 18px;
  width: 18px;
}

.dcl.user-menu .menu-option__sign-out .iconContainer svg {
  height: 20px;
  width: 20px;
}

.dcl.user-menu .menu-option__sign-out .iconContainer svg g rect {
  fill: var(--navbar-menu-enabled);
}

.dcl.user-menu .menu-actions li:hover,
.dcl.user-menu .menu-actions .item:hover {
  background-color: var(--dropdown-hover);
  color: var(--usermenu-item-text-hover);
}

.dcl.user-menu .menu-actions li img {
  margin-right: 12px;
  display: block;
  filter: var(--brightness);
}

.dcl.user-menu .menu-actions .sign-out-icon {
  width: 12px;
  height: 12px;
  filter: var(--brightness);
  background: url(../../assets/signout.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.dcl.user-menu .toggle {
  width: 46px;
  height: 46px;
}

.dcl.user-menu-wrapper .activity-bell.item {
  margin-right: 24px;
}

.dcl.user-menu-wrapper .activity-bell.item .bell {
  color: var(--text);
  position: relative;
  cursor: pointer;
}

.dcl.user-menu-wrapper .activity-bell.item.active .bell {
  color: var(--primary);
}

.dcl.user-menu-wrapper .activity-bell.item .bell.pending:after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: var(--primary);
  position: absolute;
  border-radius: 100%;
  top: -5px;
  right: -5px;
}

.dcl.user-menu .menu-wrapper .item,
.dcl.user-menu .menu-wrapper a {
  color: var(--text);
  font-weight: normal;
}

.dcl.user-menu .menu-wrapper li .icon,
.dcl.user-menu .menu-wrapper .item .icon,
.dcl.user-menu .menu-wrapper li .WalletIcon,
.dcl.user-menu .menu-wrapper .item .WalletIcon {
  font-size: 13px;
  height: 18px;
  margin-right: 10px;
}

.dcl.user-menu .menu-wrapper li .WalletIcon svg,
.dcl.user-menu .menu-wrapper .item .WalletIcon svg {
  height: 100%;
  width: 1.18em;
}

.dcl.user-menu .dcl.mana .symbol {
  font-weight: bold;
  color: var(--primary);
}

.dcl.user-menu-wrapper .dcl.mana {
  cursor: pointer;
}

@media (max-width: 768px) {
  .dcl.navbar .dcl.account-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .dcl.navbar .dcl.account-wrapper .dcl.mana + .dcl.mana {
    padding: 0;
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper) {
    height: calc(var(--navbar-height) + 16px);
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper) > .ui.container {
    align-items: flex-start;
    padding-top: 8px;
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper) .dcl.account-wrapper {
    flex-direction: row;
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper)
    .dcl.account-wrapper
    .dcl.mana {
    margin-right: 8px;
    padding: 0;
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper)
    .dcl.user-menu
    .dcl.account-wrapper {
    display: none;
  }

  .dcl.navbar:has(.dcl.mobile-user-balances-wrapper)
    .dcl.account-wrapper
    .dcl.mana:last-of-type {
    margin-right: 0;
  }

  .dcl.navbar .dcl.mobile-user-balances-wrapper {
    position: absolute;
    top: 38px;
    width: 240px;
  }

  .dcl.user-menu .toggle {
    width: 36px;
    height: 36px;
  }

  .dcl.user-menu .toggle .avatar-face {
    width: 36px;
    height: 36px;
  }
}
