.ui.message {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  border: none;
  box-shadow: none !important;
  border-radius: 6px;
}

.ui.message.error {
  background-color: rgba(254, 230, 230);
}

.ui.error.message > .content > .header {
  color: #ff0000;
}

.ui.message > .content > p {
  color: #16141a;
}
