.dui-icon-badge {
  align-items: center;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 5px;
  background-color: #37333d;
  min-height: 22px;
}

.dui-icon-badge.inlined {
  display: inline-flex;
}

.dui-icon-badge.boxed {
  display: flex;
}

.dui-icon-badge.clickable {
  cursor: pointer;
}

.dui-icon-badge .text {
  font-size: 13px;
  color: white;
}

.dui-icon-badge .dui-icon-badge__icon {
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.dui-icon-badge > span:nth-child(2) {
  margin-left: 10px;
}

/* Icons */

.dui-icon-badge .BaseMale {
  background-image: url(../../images/wearables/MaleIcon.svg);
}

.dui-icon-badge .BaseFemale {
  background-image: url(../../images/wearables/FemaleIcon.svg);
}

.dui-icon-badge .Unisex {
  background-image: url(../../images/wearables/UnisexIcon.svg);
}

.dui-icon-badge .body_shape {
  background-image: url(../../images/wearables/BodyShapeIcon.svg);
}

.dui-icon-badge .earring {
  background-image: url(../../images/wearables/EarringsIcon.svg);
}

.dui-icon-badge .eyebrows {
  background-image: url(../../images/wearables/EyebrowIcon.svg);
}

.dui-icon-badge .eyes {
  background-image: url(../../images/wearables/EyesIcon.svg);
}

.dui-icon-badge .eyewear {
  background-image: url(../../images/wearables/EyewearIcon.svg);
}

.dui-icon-badge .facial_hair {
  background-image: url(../../images/wearables/FacilHairIcon.svg);
}

.dui-icon-badge .feet {
  background-image: url(../../images/wearables/FeetIcon.svg);
}

.dui-icon-badge .hair {
  background-image: url(../../images/wearables/HairIcon.svg);
}

.dui-icon-badge .hat {
  background-image: url(../../images/wearables/HatIcon.svg);
}

.dui-icon-badge .helmet {
  background-image: url(../../images/wearables/HelmetIcon.svg);
}

.dui-icon-badge .lower_body {
  background-image: url(../../images/wearables/LowerBodyIcon.svg);
}

.dui-icon-badge .mask {
  background-image: url(../../images/wearables/MaskIcon.svg);
}

.dui-icon-badge .mouth {
  background-image: url(../../images/wearables/MouthIcon.svg);
}

.dui-icon-badge .tiara {
  background-image: url(../../images/wearables/TiaraIcon.svg);
}

.dui-icon-badge .top_head {
  background-image: url(../../images/wearables/TopHeadIcon.svg);
}

.dui-icon-badge .upper_body {
  background-image: url(../../images/wearables/UpperBodyIcon.svg);
}

.dui-icon-badge .skin {
  background-image: url(../../images/wearables/SkinIcon.svg);
}

.dui-icon-badge .hands_wear {
  background-size: contain;
  background-image: url(../../images/wearables/HandsIcon.svg);
}

.dui-icon-badge .utility {
  background-image: url(../../images/utility.svg);
}

.dui-icon-badge .play-once {
  background-image: url(../../images/emotes/play-once.svg);
  width: 19px;
  filter: brightness(0) invert(1);
}

.dui-icon-badge .play-loop {
  background-image: url(../../images/emotes/play-loop.svg);
  width: 19px;
  filter: brightness(0) invert(1);
}

.dui-icon-badge .smart-wearable {
  background-image: url(../../images/wearables/smart.svg);
}

.dui-icon-badge .sound {
  background-image: url(../../images/emotes/sound.svg);
  width: 19px;
}

.dui-icon-badge .props {
  background-image: url(../../images/emotes/props.svg);
  background-size: contain;
  width: 19px;
}

.dui-icon-badge .sparkles {
  filter: brightness(0) invert(1);
  background-image: url(../../images/sparkles.svg);
  background-size: cover;
}

.dui-icon-badge .places {
  background-image: url(../../images/places.svg);
  background-size: contain;
}
