.story-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid var(--text);
}

.story-container + .story-container {
  border-left: none;
}

.story-container .hello {
  display: inline-block;
  background: var(--background);
  border: 1px solid var(--text);
  padding: 10px;
}
