.story.container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid #eee;
}

.story.container + .story.container {
  border-left: none;
}

.story.hello {
  display: inline-block;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}
